@{
    ViewData["Title"] = "CommentAdd";
}

<form method="post">
    <input type="text" name="name" />
    <br />
    <textarea name="comment"></textarea>
    <br />

    <input type="submit" value="Yorum Gönder" />
    <br />

</form>
<br />

<h1>Yorumlar</h1>
@if (ViewBag.comments != null)
{
    foreach (var item in ViewBag.comments as string[])
    {
        <span>@item</span>
        <hr />
    }
}
<br />

<strong>@ViewBag.name</strong>
<br />

<span>@ViewBag.comment</span>